/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ffffff;
    background-color: #505050;
  }
  
  .main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #7a7a7a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Navigation Styles */
  
  .navbar {
    background-color: #333;
    
    color: #ffffff;
    padding: 10px;
    text-align: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu a {
    color: #000000;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .menu a:hover {
    color: #ccc;
  }
  
  /* Section Styles */
  
  .section {
    background-color: #4e4e4e;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .introduction {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .about-me {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .descrption {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .IconicArt {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .images {
    margin: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .intro {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .bestart {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .intro2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .sketch {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .sketchbook {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .shadow {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .SILHOUETTE {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .shadowintro {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  /* Contacts Styles */
  
  .Contacts2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }