/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }

  .menu ul li {
    padding: 0 2rem;
}

.menu ul li a {
    color: white;
    text-decoration: none;
}

.menu ul li a:hover {
    color: #ccc;
}

  
  nav ul {
    justify-content: center;
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 1rem;
  }
  
  nav ul li a {
    justify-content: center;
    color: #fff;
    text-decoration: none;
  }
  
  .section {
    text-align: center; 
    padding: 2rem;
  }
  
  .title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  img {
    align-items: center; 
    width: 100%;
    height: auto;
  }
  
  /* Specific styles */
  #HOME {
    background-color: #75afff;

  }
  
  #ABOUT-ME {
    background-color: #4b66df;
  }
  
  #ICONIC-ARTWORKS {
    background-color: #7754df;
  }
  
  #BONUS-SKETCHES {
    background-color: #6170e3;
  }
  
  #SILHOUETTE-ARTWORKS {
    background-color: #717dff;
  }
  
  #CONTACTS {
    background-color: #26084f;
  }
.menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

