*{
    margin: auto; 
    padding: 0; 

}

.main{
    width: 100px; 
    background: linear-gradient(to top, rgba(0,0,0, 0.5)58%, rgba(0,0,0,0.5)58%), url(star-wars-place-ztno3exzqff0m0ci.jpg); 
    background-position: center; 
    background-size: cover; 
    height: 250vh; 
    width: 230vh; 
    font-family: sans-serif; 
}

.navbar{
    width: 95px; 
    height: auto; 
    margin-left: 30px; 

}

.logo{
    color: rgba(122, 255, 231, 0.742); 
    font-size: 40px; 
    font-family: cursive; 
    float: left; 
    padding-top: .6%; 
    cursor: pointer; 

}

.menu{
    width: 600px; 
    float: center; 
    height: 70px; 
    padding-top: 30px; 
    justify-content: center; 
    align-items: center; 
    margin-left: 14%; 

}

ul li{
    list-style: none; 
    margin-left: 60px; 
    font-size: 16px; 
    
}