body {
    font-family: Arial, sans-serif;
    line-height: 1.6; 
    margin-bottom: 10px;


}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

.main {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.navbar {
    background-color: #333;
    height: 80px;
    width: 100%;
}

.logo {
    color: white;
    line-height: 80px;
    font-size: 2.5rem;
    padding: 0 30px;
}

.menu {
    float: right;
    line-height: 80px;
}

.menu ul {
    display: inline-block;
}

.menu ul li {
    float: left;
    padding: 0 20px;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.section h2 {
    font-size: 3rem;
    padding: 20px;
}

.introduction {
    width: 70%;
    font-size: 1.3rem;
    padding: 20px;
}

.Aboutpage {
    width: 70%;
    font-size: 1.3rem;
    padding: 20px;
}

.about-me {
    font-size: 2rem;
    padding: 20px;
}

.iconic {
    width: 70%;
    font-size: 1.3rem;
    padding: 20px;
}

.first-artwork {
    font-size: 2rem;
    padding: 20px;
}

.Mandalorian {
    font-size: 1.3rem;
    padding: 20px;
}

.GameOfThrones {
    font-size: 1.3rem;
    padding: 20px;
}

.aot {
    font-size: 1.3rem;
    padding: 20px;
}

.bonus-sketches {
    border-color: #bee7ff;
    font-size: 2rem;
    padding: 20px;
}

.fate {
    font-size: 1.3rem;
    padding: 20px;
}

.snowblind {
    font-size: 1.3rem;
    padding: 20px;
}

.KNY {
    font-size: 1.3rem;
    padding: 20px;
}

.img-responsive {
    width: 100%;
    height: auto;
}